--
-- PostgreSQL database dump
--

\restrict NLCXGS8yHhpyScY92jH9w3kNYP24mqmxAzBST1oOturFcI6zGDiDw0x5DQICJwz

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: allergens; Type: TABLE; Schema: public; Owner: username
--

CREATE TABLE public.allergens (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    severity character varying(255) NOT NULL,
    CONSTRAINT allergens_severity_check CHECK (((severity)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'FATAL'::character varying])::text[])))
);


ALTER TABLE public.allergens OWNER TO username;

--
-- Name: allergens_id_seq; Type: SEQUENCE; Schema: public; Owner: username
--

ALTER TABLE public.allergens ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.allergens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: username
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    description character varying(100),
    name character varying(255) NOT NULL,
    CONSTRAINT categories_name_check CHECK (((name)::text = ANY ((ARRAY['GRAINS'::character varying, 'PROTEINS'::character varying, 'VEGGIES'::character varying, 'FRUITS'::character varying, 'DAIRY'::character varying, 'FATS'::character varying, 'SPICES'::character varying])::text[])))
);


ALTER TABLE public.categories OWNER TO username;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: username
--

ALTER TABLE public.categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: food_allergen_map; Type: TABLE; Schema: public; Owner: username
--

CREATE TABLE public.food_allergen_map (
    food_id bigint NOT NULL,
    allergen_id bigint NOT NULL
);


ALTER TABLE public.food_allergen_map OWNER TO username;

--
-- Name: foods; Type: TABLE; Schema: public; Owner: username
--

CREATE TABLE public.foods (
    id bigint NOT NULL,
    description character varying(100) NOT NULL,
    name character varying(255) NOT NULL,
    category_id bigint
);


ALTER TABLE public.foods OWNER TO username;

--
-- Name: foods_id_seq; Type: SEQUENCE; Schema: public; Owner: username
--

ALTER TABLE public.foods ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.foods_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: allergens; Type: TABLE DATA; Schema: public; Owner: username
--

COPY public.allergens (id, name, severity) FROM stdin;
1	toj├ís	LOW
2	tej	LOW
3	hal	MEDIUM
4	di├│f├ęl├ęk	MEDIUM
5	sz├│ja	MEDIUM
6	mogyor├│	HIGH
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: username
--

COPY public.categories (id, description, name) FROM stdin;
1	tejtermekek	DAIRY
2	zoldsegek	VEGGIES
3	gyumolcsok	FRUITS
5	gabona	GRAINS
6	proteinek, alapvetoen husok, tojas, hal	PROTEINS
7	fuszerek	SPICES
8	zsirok	FATS
\.


--
-- Data for Name: food_allergen_map; Type: TABLE DATA; Schema: public; Owner: username
--

COPY public.food_allergen_map (food_id, allergen_id) FROM stdin;
1	2
1	1
4	1
\.


--
-- Data for Name: foods; Type: TABLE DATA; Schema: public; Owner: username
--

COPY public.foods (id, description, name, category_id) FROM stdin;
1	Reggeli p├ęk├íru lakt├│zzal ├ęs glut├ęnnal karoltve.	Sajtos p├ęk├íruk	5
4	Laktat├│ reggeli.	Toj├ísos R├íntotta	6
\.


--
-- Name: allergens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: username
--

SELECT pg_catalog.setval('public.allergens_id_seq', 6, true);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: username
--

SELECT pg_catalog.setval('public.categories_id_seq', 9, true);


--
-- Name: foods_id_seq; Type: SEQUENCE SET; Schema: public; Owner: username
--

SELECT pg_catalog.setval('public.foods_id_seq', 8, true);


--
-- Name: allergens allergens_pkey; Type: CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.allergens
    ADD CONSTRAINT allergens_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: food_allergen_map food_allergen_map_pkey; Type: CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.food_allergen_map
    ADD CONSTRAINT food_allergen_map_pkey PRIMARY KEY (food_id, allergen_id);


--
-- Name: foods foods_pkey; Type: CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.foods
    ADD CONSTRAINT foods_pkey PRIMARY KEY (id);


--
-- Name: allergens uk1tipxa3jfm7x5gcbqlmn6h7on; Type: CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.allergens
    ADD CONSTRAINT uk1tipxa3jfm7x5gcbqlmn6h7on UNIQUE (name);


--
-- Name: categories ukt8o6pivur7nn124jehx7cygw5; Type: CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT ukt8o6pivur7nn124jehx7cygw5 UNIQUE (name);


--
-- Name: food_allergen_map fk9btupp6gtcmxkvo5sxip71v62; Type: FK CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.food_allergen_map
    ADD CONSTRAINT fk9btupp6gtcmxkvo5sxip71v62 FOREIGN KEY (food_id) REFERENCES public.foods(id);


--
-- Name: food_allergen_map fkkvwrt0qnecwui0wodahxylxum; Type: FK CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.food_allergen_map
    ADD CONSTRAINT fkkvwrt0qnecwui0wodahxylxum FOREIGN KEY (allergen_id) REFERENCES public.allergens(id);


--
-- Name: foods fkpaltlojk6ds73o9vn3f2ri9gk; Type: FK CONSTRAINT; Schema: public; Owner: username
--

ALTER TABLE ONLY public.foods
    ADD CONSTRAINT fkpaltlojk6ds73o9vn3f2ri9gk FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- PostgreSQL database dump complete
--

\unrestrict NLCXGS8yHhpyScY92jH9w3kNYP24mqmxAzBST1oOturFcI6zGDiDw0x5DQICJwz

